<template>
  <div class="container is-desktop animate-enter">
    <div class="is-centered is-padded">
      <section class="section">
        <div class="container">
          <h1 class="title">
            <b-button
              tag="NuxtLink"
              to="/feed"
              class="button is-borderless"
              icon-left="chevron-left"
            />Add photo
          </h1>

          <ImageUpload
            @imageUploaded="imageUrl"
            @update:imageUrl="imageUrl = $event"
            size="is-quater-screen"
          />

          <b-field
            label="short description"
            label-position="on-border"
            class="is-spaced"
          >
            <b-input v-model="description" name="desc"></b-input>
          </b-field>
          <div class="hero is-spaced is-white">
            <b-field class="is-grouped">
              <b-button
                @click="handlePhotoCreation"
                tag="button"
                class="button is-primary is-aligned-right"
              >
                SAVE
              </b-button>
            </b-field>
          </div>
        </div>
      </section>
    </div>
  </div>
</template>
<script>
import { mapActions } from 'vuex'
import { CREATE_PHOTO_ACTION } from '@/action-types'
import ImageUpload from '~/components/ImageUpload.vue'
export default {
  components: {
    ImageUpload
  },
  transition: 'slide-right',
  data() {
    return {
      imageUrl: '',
      description: ''
    }
  },
  methods: {
    ...mapActions('photos', [CREATE_PHOTO_ACTION]),
    handlePhotoCreation() {
      const payload = {
        imageUrl: this.imageUrl,
        user_uid: this.$fireAuth.currentUser.uid,
        description: this.description,
        datetime: Date.now()
      }
      this[CREATE_PHOTO_ACTION](payload).then(() =>
        this.$router.push('/photos')
      )
    }
  }
}
</script>
