<template>
  <section>
    <div @click="openCloseModal" class="card is-centered">
      <div class="card-header post-header">
        <div class="card-header-title media">
          <div class="media-left">
            <nuxt-link :to="'/profile/' + post.user.uid">
              <figure class="image is-32x32 is-squared">
                <img
                  :src="post.user.photo || ''"
                  alt="User avatar"
                  class="is-rounded"
                  style="object-fit: cover;width: 100%;height: 100%;"
                />
              </figure>
            </nuxt-link>
          </div>
          <div class="media-content is-align-self-center">
            <p class="title is-6">{{ post.user.username }}</p>
          </div>
        </div>
      </div>
      <div class="card-image">
        <figure class="image is-4by3">
          <img
            v-if="post.imageUrl"
            :src="post.imageUrl"
            alt=""
            class="is-squared"
            style="object-fit:cover;width: 100%;height: 100%;"
          />
          <div class="is-overlay is-align-bottom">
            <div class="level is-mobile">
              <div class="level-left">
                <div class="level-item likes-counter">
                  <span>{{ post.likes }} likes</span>
                </div>
              </div>
              <div class="level-right">
                <div class="level-item">
                  <b-icon
                    :class="[post.likedByUser ? 'is-red' : 'is-white']"
                    @click.native.stop="$emit('like:update')"
                    icon="heart"
                  >
                  </b-icon>
                </div>
              </div>
            </div>
          </div>
        </figure>
      </div>
      <slot></slot>
    </div>
    <PostModal
      :is-card-modal-active="isCardModalActive"
      :open-close-modal="openCloseModal"
      :post="post"
    >
      <slot name="modalContent" />
    </PostModal>
  </section>
</template>

<script>
import { mapActions } from 'vuex'
import { ADD_LIKE_ACTION, REMOVE_LIKE_ACTION } from '~/action-types'
import PostModal from '~/components/PostModal'

export default {
  components: { PostModal },
  props: {
    post: {
      type: Object,
      required: true,
      default: () => {}
    }
  },
  data() {
    return {
      isCardModalActive: false
    }
  },
  beforeDestroy() {
    this.$root.$off('closeDialog')
  },
  methods: {
    openCloseModal() {
      if (this.isCardModalActive) {
        this.isCardModalActive = false
        this.$root.$emit('dialogClosed', {})
        this.$root.$off('closeDialog')
      } else {
        this.isCardModalActive = true
        this.$root.$emit('dialogOpened', {})
        this.$root.$on('closeDialog', () => {
          this.openCloseModal()
        })
      }
    }
  }
}
</script>
<style scoped lang="scss">
@import '~assets/scss/variables.scss';

figure {
  margin: 0;
}

.card {
  max-width: 90vw;
  margin: 1em auto;

  .post-header {
    background-color: $secondary-light;
  }

  .card-image {
    margin: 0;
  }
  .is-overlay {
    padding: 0.5em 1em;

    .likes-counter {
      color: #fff;
      font-weight: 600;
    }
  }
}
</style>
